name: Test

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.6.4

      - name: Type check
        run: deno task check

      - name: Lint
        run: deno lint

      - name: Run tests
        run: deno test
